body {
  font-family: Cairo, Tahoma, Arial, sans-serif;
  background: #f8fbff;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h2 {
  color: #1565c0;
  margin-bottom:10px;
}
.word{
    display: flex;
    justify-content: end;
}
#level-info { 
  font-size:20px; 
  color: #383; 
  margin-bottom:10px;
  text-align: center;
}

#wordsearch {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, 38px);
  gap: 2px;
  margin-bottom: 22px;
  user-select: none;
}

.cell {
  width: 36px;
  height: 36px;
  text-align: center;
  font-size: 23px;
  border: 1px solid #aaa;
  cursor: pointer;
  background: #fff;
  transition: background 0.3s, border 0.2s;
  position: relative;
  user-select: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.cell.selected {
  box-shadow: 0 0 8px #6ac2ff;
  background: #b8e6fb;
  border:2px solid #0686c2;
  z-index:2;
}

.cell.found0 { background:#ffe47f !important; border-bottom: 4px solid #f8c800; color:#ca9300; font-weight:900; }
.cell.found1 { background:#ffd6e5 !important; border-bottom: 4px solid #dc4488; color:#a11052; font-weight:900; }
.cell.found2 { background:#e3f9fd !important; border-bottom: 4px solid #0aa0e3; color:#1e4179; font-weight:900; }
.cell.found3 { background:#dfcdfa !important; border-bottom: 4px solid #aa5ef0; color:#663ca2; font-weight:900; }
.cell.found4 { background:#caffec !important; border-bottom: 4px solid #1cd282; color:#13684a; font-weight:900; }
.cell.found5 { background:#fff2ba !important; border-bottom: 4px solid #e1b200; color:#715507; font-weight:900; }
.cell.found6 { background:#ffe49d !important; border-bottom: 4px solid #ff9900; color:#ac6600; font-weight:900;}
.cell.found7 { background:#b1ffd0 !important; border-bottom: 4px solid #2bba37; color:#126325; font-weight:900;}

#words-list {
  display: flex;
  flex-direction: column;
  gap:10px;
  flex-wrap: wrap;
  align-items: center;
}

#words-list .words-row {
  display: flex;
  flex-flow: row wrap;
  gap:8px;
  margin-bottom: 4px;
  justify-content: center;
}

#words-list span {
  padding:5px 14px;
  background:#eee;
  border-radius:8px;
  font-size:21px;
  border-bottom:4px solid #444;
  display:inline-block;
  transition:all 0.3s;
}

span.word-found {
  background:#bbffd0!important;
  color:#035b1b;
  font-weight: bold;
  border-bottom-width:6px;
}

button {
  padding:10px 28px;
  font-size:22px;
  border-radius:8px;
  border:none;
  background: #369afd;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  font-family:inherit;
  margin-bottom: 25px;
}
button:disabled {
  background: #dddddd !important;
  color: #999 !important;
  cursor: not-allowed;
}
#msg {
  margin: 16px 0 0 0;
  font-size: 22px;
  color: #007060;
  min-height:28px;
  text-align: center;
}
